[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "coarseDataTools"]
	path = coarseDataTools
	url = https://github.com/nickreich/coarsedatatools
